server:
  port: 8180
  error:
    include-stacktrace: never

spring:
  profiles:
    active: local
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mariadb://127.0.0.1:3306/db_insung_lol?useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: 1013
  jpa:
    hibernate:
      #ddl-auto: create
      ddl-auto: update
    properties:
      hibernate:
#        format_sql: false

#  servlet:
#    multipart:
#      max-file-size: 10MB
#      max-request-szie: 20MB

logging:
  level:
    root: info
#    org:
#    hibernate:
#    sql: debug

# Token     
jwt:
  expired:
    jwtSecret: jwtsecret
    jwtExpirationMs: 6000000
    rjwtExpirationMs: 18000000

file:
  dir: c:/islol/images/