<?xml version="1.0" encoding="UTF-8"?>

<!-- 10분마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="600 seconds">
    
    <!-- setting -->
    <springProfile name="local">
        <property resource="common/logback/logback-local.properties"/>
    </springProfile>
    
    <!-- <springProfile name="dev">
        <property resource="common/logback/logback-dev.properties"/>
    </springProfile>
    <springProfile name="prod">
        <property resource="common/logback/logback-prod.properties"/>
    </springProfile> -->
     
	<!-- log file path --> 
	<property name="LOG_PATH" value="${log.config.path}"/> 
	<!-- log file name --> 
	<property name="LOG_FILE_NAME" value="${log.config.filename}"/> 
	<!-- err log file name --> 
	<property name="ERR_LOG_FILE_NAME" value="err_log"/> 
	<!-- pattern --> 
	<property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>


    <!-- console log -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

	<!-- File Appender --> 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<!-- 파일경로 설정 --> 
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file> 
		
		<!-- 출력패턴 설정--> 
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"> 
			<pattern>${LOG_PATTERN}</pattern> 
		</encoder> 
		
		<!-- Rolling 정책 --> 
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<!-- .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 --> 
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern> 
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
				<!-- 파일당 최고 용량 kb, mb, gb --> 
				<maxFileSize>10MB</maxFileSize> 
			</timeBasedFileNamingAndTriggeringPolicy> 
			<!-- 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거--> 
			<maxHistory>30</maxHistory> 
		</rollingPolicy> 
	</appender>

	<!-- root레벨 설정 --> 
	<root level="${LOG_LEVEL}"> 
		<appender-ref ref="CONSOLE"/> 
		<appender-ref ref="FILE"/>
		<!-- <appender-ref ref="Error"/> --> 
	</root>
	    
	    
</configuration>